@import 'app/theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}
